@use '@angular/material' as mat;
@import '@angular/material/theming';
@import '../../dgp-ng-app/src/theming';
@import '../../dgp-ng-docs/src/lib/styles';

@include mat.core();

$app-primary: mat.define-palette(mat.$light-green-palette);
$app-accent: mat.define-palette(mat.$green-palette);

@include dgp-ng-app-theme($app-primary, $app-accent);
@include dgp-compact-theme();

.dgp-bg--primary {
    background: mat.get-color-from-palette($app-primary) !important;
}
