@use '@angular/material' as mat;
@import '../../dgp-ng-app/src/theming';
@import '../../dgp-ng-docs/src/lib/styles';

@include mat.all-component-typographies();
@include mat.elevation-classes();
@include mat.app-background();

$app-primary: mat.m2-define-palette(mat.$m2-light-green-palette);
$app-accent: mat.m2-define-palette(mat.$m2-green-palette);

@include dgp-ng-app-theme($app-primary, $app-accent);

.dgp-bg--primary {
    background: mat.m2-get-color-from-palette($app-primary) !important;
}
