@mixin dgp-compact-details-theme() {

    dgp-details.--indent, .--indent dgp-details {
        .details-content {
            padding-left: 24px;
        }
    }

}

@mixin dgp-compact-empty-state-theme() {

    dgp-empty-state {
        margin-top: 16px;
        margin-bottom: 16px;
        max-height: initial !important;

        h1 {
            margin: 0 !important;
            font-size: initial !important;
        }

        mat-icon {
            font-size: 32px !important;
            width: 32px !important;
            height: 32px !important;
        }
    }
}

@mixin dgp-compact-inspector-item-theme() {

    dgp-inspector-item {

        .inspector-item-content {
            min-height: 24px;
        }

        .info {
            height: 24px;
        }

    }

}


@mixin dgp-compact-theme() {

    /**
     * dgp components
     */
    @include dgp-compact-details-theme();
    @include dgp-compact-empty-state-theme();
    @include dgp-compact-inspector-item-theme();
    
}
