
/**
 * The default mat tooltip is so small it's barely visible.
 *
 * We make it larger so even a normal person can read it comfortably.
 */
.mat-tooltip {
    font-size: 13px !important;
    white-space: pre-line;
}

/**
 * Make icons on mat-button usable without always setting margin-right
 */
button[mat-button], button[mat-raised-button] {
    mat-icon {
        margin-right: 8px;
    }
}
