/* You can add global styles to this file, and also import other style files */
@import '../../dgp-ng-paged-media/src/lib/styles';
@import '../../dgp-ng-charts/src/lib/styles';

$demo-dgp-A4-page-config: (
    "page-margins": (
        "top": 2.5cm,
        "bottom": 2.5cm,
        "left": 1.5cm,
        "right": 1.5cm
    )
);

@include dgp-A4-page($demo-dgp-A4-page-config);

dgp-ng-paged-media-labs {
    @extend .dgp-root;
}

body {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
