@use '@angular/material' as mat;
@import '@angular/material';
@import './styles/mat-overrides';
@import './styles/component-themes';

@mixin dgp-normalize {

    html, body {
        height: 100%;
        width: 100%;
    }

    body {
        margin: 0;
    }

    * {
        box-sizing: border-box;
    }

}

@mixin dgp-ng-app-theme($primary, $accent, $warn: mat.define-palette(mat.$red-palette)) {

    @include dgp-normalize();
    $density: -3;

    $app-theme: mat.define-light-theme((
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn,
        ),
        density: $density
    ));
    $app-dark-theme: mat.define-dark-theme((
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn,
        ),
        density: $density
    ));

    @include mat.all-component-themes($app-theme);
    @include dgp-all-component-themes($app-theme);

    .dark-theme {
        @include mat.all-component-colors($app-dark-theme);
        @include dgp-all-component-themes($app-dark-theme);
    }

    @include dgp-mat-overrides();

    .dgp-bg--primary {
        background: mat.get-color-from-palette($primary) !important;
    }

    .dgp-bg--accent {
        background: mat.get-color-from-palette($accent) !important;
    }

    .dgp-bg--warn {
        background: mat.get-color-from-palette($warn) !important;
    }

    .dgp-cl--primary {
        color: mat.get-color-from-palette($primary) !important;
    }

    .dgp-cl--accent {
        color: mat.get-color-from-palette($accent) !important;
    }

    .dgp-cl--warn {
        color: mat.get-color-from-palette($warn) !important;
    }
    /*TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version.*/
    mat-dialog-actions {
        display: flex;
        justify-content: flex-end;
    }

    .page-menu-drawer-container {
        .mat-drawer-inner-container {
            display: flex;
            flex-direction: column;
        }
    }

    .hamburger-menu-drawer-content > *:not(router-outlet) {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-grow: 1;
        overflow: auto;
    }

    .dgp-action-context.--selected {
        outline: 1px dashed mat.get-color-from-palette($accent, 300);
    }

    .dgp-bg--accent {
        background: mat.get-color-from-palette($accent, 100) !important;
    }

    dgp-input-field {
        dgp-inspector-item {
            /*TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
            mat-list-item {
                padding-bottom: 8px !important;
                padding-top: 8px !important;
            }

            /*TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
            .mat-list-item-content {
                align-items: flex-start !important;

                .label {
                    // margin-top: 8px;
                }

                mat-icon {
                    // margin-top: 6px;
                }

                .content {
                    padding-top: 8px;
                }

            }
        }
    }

}

.dgp-dynamic-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
    display: flex;
    flex-grow: 1;
}

.--with-flex-wrap-panel {
    .cdk-virtual-scroll-content-wrapper {
        display: flex !important;
        flex-wrap: wrap;
    }
}

