@import '~@angular/material/theming';

@mixin dgp-normalize {

    html, body {
        height: 100%;
        width: 100%;
    }

    body {
        margin: 0;
    }

    * {
        box-sizing: border-box;
    }

}

@mixin dgp-list-item-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .dgp-bg--primary {
        background: mat-color($primary, 300) !important;
    }

    .dgp-bg--accent {
        background: mat-color($accent, 300) !important;
    }

    .dgp-list-item.--selected {
        border-left-color: mat-color($primary, 300);
        border-left-width: 4px;
        border-left-style: solid;
    }

    .dgp-list-item.--not-clickable {
        pointer-events: none;
    }

    .dgp-list-item--selected {
        border-left-color: mat-color($primary, 300);
        border-left-width: 4px;
        border-left-style: solid;
        pointer-events: none;

        &:hover {
            background-color: mat-color($accent, 300);
        }
    }

}

@mixin dgp-ng-app-theme($primary, $accent, $warn: mat-palette($mat-red)) {

    @include dgp-normalize();

    $app-theme: mat-light-theme($primary, $accent, $warn);
    $app-dark-theme: mat-dark-theme($primary, $accent, $warn);

    @include angular-material-theme($app-theme);
    @include dgp-list-item-theme($app-theme);

    .dark-theme {
        @include angular-material-theme($app-dark-theme);
        @include dgp-list-item-theme($app-dark-theme);
    }

    .dgp-bg--primary {
        background: mat-color($primary) !important;
    }

    mat-dialog-actions {
        display: flex;
        justify-content: flex-end;
    }

    .page-menu-drawer-container {
        .mat-drawer-inner-container {
            display: flex;
            flex-direction: column;
        }
    }

    .hamburger-menu-drawer-content > *:not(router-outlet) {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-grow: 1;
        overflow: auto;
    }

    .dgp-action-context.--selected {
        outline: 1px dashed mat-color($accent, 300);
    }

    .dgp-bg--accent {
        background: mat-color($accent, 100) !important;
    }

}

.dgp-file-manager-overlay--maximized {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
}


.dgp-dynamic-virtual-scroll-viewport {
    height: 100%;
    display: flex;
    flex-grow: 1;
}

.--with-flex-wrap-panel {
    .cdk-virtual-scroll-content-wrapper {
        display: flex !important;
        flex-wrap: wrap;
    }
}
