<dgp-hamburger-shell dgpThemeHost
                     class="mat-typography">

    <div dgp-hamburger-menu
         class="hamburger-menu">

        <mat-toolbar color="primary"
                    style="flex-shrink: 0;">
            DGP NG APP
        </mat-toolbar>

        <mat-nav-list class="hamburger-menu__main-entries">
            <a mat-list-item
               [routerLink]="['/home']"
               [routerLinkActive]="'dgp-list-item--selected'">
                <mat-icon class="hamburger-menu-list-item__icon">home</mat-icon>
                Home
            </a>

            <h2 mat-subheader>Docs</h2>

            <a mat-list-item
               [routerLink]="['/authentication']"
               [routerLinkActive]="'dgp-list-item--selected'">
                <mat-icon class="hamburger-menu-list-item__icon">person</mat-icon>
                Authentication
            </a>

            <a mat-list-item
               [routerLink]="['/empty-state']"
               [routerLinkActive]="'dgp-list-item--selected'">
                <mat-icon class="hamburger-menu-list-item__icon">texture</mat-icon>
                Empty state
            </a>

            <a mat-list-item
               [routerLink]="['/hamburger-shell']"
               [routerLinkActive]="'dgp-list-item--selected'">
                <mat-icon class="hamburger-menu-list-item__icon">chrome_reader_mode</mat-icon>
                Hamburger shell
            </a>

            <a mat-list-item
               [routerLink]="['/list-details-page']"
               [routerLinkActive]="'dgp-list-item--selected'">
                <mat-icon class="hamburger-menu-list-item__icon">vertical_split</mat-icon>
                List-details page
            </a>

            <a mat-list-item
               [routerLink]="['/request-store']"
               [routerLinkActive]="'dgp-list-item--selected'">
                <mat-icon class="hamburger-menu-list-item__icon">import_export</mat-icon>
                Request store
            </a>

            <a mat-list-item
               [routerLink]="['/styling']"
               [routerLinkActive]="'dgp-list-item--selected'">
                <mat-icon class="hamburger-menu-list-item__icon">color_lens</mat-icon>
                Styling
            </a>

            <a mat-list-item
               [routerLink]="['/theme-switcher']"
               [routerLinkActive]="'dgp-list-item--selected'">
                <mat-icon class="hamburger-menu-list-item__icon">style</mat-icon>
                Theme switcher
            </a>
        </mat-nav-list>

        <dgp-dark-mode-toggle></dgp-dark-mode-toggle>

        <mat-nav-list>
            <a mat-list-item
               [routerLink]="['/logEntries']">
                <mat-icon class="hamburger-menu-list-item__icon">error</mat-icon>
                Log
            </a>
        </mat-nav-list>
    </div>

    <router-outlet></router-outlet>
</dgp-hamburger-shell>
