:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.hamburger-menu-drawer-container {
    flex-grow: 1;
    display: flex !important;
}

.hamburger-menu-drawer {
    width: 240px;
}

.progress-bar-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.hamburger-menu-drawer-content {
    display: flex;
    flex-direction: column;
    height:100%;
    flex-grow: 1;
}
